@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: rgb(24, 28, 35);
}

::-webkit-scrollbar-track {
	box-shadow: none;
	background-color: rgb(15, 18, 22);
	border-radius: 10px;
}

:root {
	--background: #181c23;
	--color-white: #fff;
	--color-primary: #a6f750;
	--color-primary-contrast: #181c23;
	--color-secondary-contrast: #e1e1e1;
	--color-elementary: #2371ff;
}

body {
	background-color: #181c23;
}

.font-lato {
	font-family: "Lato", sans-serif;
}

.font-firacode {
	font-family: "Fira Code", monospace;
}

.font-ubuntu {
	font-family: "Ubuntu", sans-serif;
}

header {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: whitesmoke;
	padding: 5px 20px;
	position: relative;
}

.logo {
	width: 64px;
	height: 40px;
}

.menu-hamburger {
	width: 100%;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 10px;
	right: 10px;
}

.menu-hamburguer-elements {
	display: flex;
	width: 80%;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
}

.menu-hamburguer-elements li {
	list-style: none;
	font-size: 1.4rem;
	margin: 2rem 0;
	font-size: 1.4rem;
	list-style: none;
}

.menu-hamburguer-elements a {
	color: white;
	text-decoration: none;
}

.menu {
	width: 60px;
	height: 60px;
	margin: 1rem 1rem;
	cursor: pointer;
	display: none;
}

.hamburguer {
	position: relative;
	display: block;
	background: #fff;
	width: 30px;
	height: 2px;
	top: 29px;
	left: 15px;
	transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
	background: #ffff;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: 0.5s ease-in-out;
}

.hamburguer:before {
	top: -10px;
}

.hamburguer:after {
	bottom: -10px;
}

input[type="checkbox"] {
	display: none;
}

input:checked~label .hamburguer {
	transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
	transform: rotate(90deg);
	top: 0;
}

input:checked~label .hamburguer:after {
	transform: rotate(90deg);
	bottom: 0;
}

input:checked~.menu-hamburguer-elements {
	left: 0;
}

.section-initial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 75px 40px;
}

.title {
	font-size: 2.25rem;
	color: var(--color-primary);
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 72px;
}

.title-p {
	color: var(--color-white);
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 46px;
}

.container-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 0 40px;
}

.link-especialista {
	padding: 16px 32px;
	text-wrap: nowrap;
	text-decoration: none;
	font-size: 0.875rem;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	border-radius: 4px;
}

.container-tech {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
}

.link-tech {
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: var(--background);
	border: none;
	color: var(--color-white);
	text-wrap: nowrap;
	padding: 0 1.5rem;
	text-decoration: none;
}

.skills {
	display: flex;
	gap: 10px;
	color: var(--color-primary);
	font-weight: 300;
	font-size: 14px;
	width: 100%;
	padding: 0 10px;
	justify-content: center;
}

.container-skills-one {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.skills-block {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		linear-gradient(238.28deg,
			rgba(35, 113, 255, 0.13) 9.85%,
			rgba(166, 247, 80, 0.13) 84.05%),
		rgb(40, 44, 51);
	border-radius: 14px;
	position: relative;
}

.skills-block:hover .skills-img {
	opacity: 0;
}

.skills-two.skills-block:hover::after {
	content: "Programas de aceleração ou ensino de novas tecnologias para colaboradores de sua empresa.";
	color: var(--color-white);
	font-family: "Fira Code", monospace;
	font-weight: 300;
	font-size: 10px;
	position: absolute;
	top: 25%;
	text-wrap: wrap;
	padding: 0 16px;
}

.skills-block:nth-child(1):hover::after {
	content: "Programas de aceleração ou ensino de novas tecnologias para colaboradores de sua empresa.";
	color: var(--color-white);
	font-family: "Fira Code", monospace;
	font-weight: 300;
	font-size: 10px;
	position: absolute;
	top: 30%;
	text-wrap: wrap;
	padding: 0 16px;
	line-height: 1.3;
}

.skills-block:nth-child(2):hover::after {
	content: "Reciclagem de colaboradores com realocação na área de tecnologia.";
	color: var(--color-white);
	font-family: "Fira Code", monospace;
	font-weight: 300;
	font-size: 10px;
	position: absolute;
	top: 30%;
	text-wrap: wrap;
	padding: 0 16px;
	line-height: 1.3;
}

.skills-two.skills-block:hover::after {
	content: "Ofereça bolsas para mercado como ferramenta de recrutamento e incentivo à diversidade.";
	color: var(--color-white);
	font-family: "Fira Code", monospace;
	font-weight: 300;
	font-size: 10px;
	position: absolute;
	top: 20%;
	text-wrap: wrap;
	padding: 0 16px;
}

.text-skills-one {
	padding: 38px 16px;
}

.text-skills-two {
	padding: 16px;
	line-height: 1.3;
}

.skills-img {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.skills-block img {
	width: 50%;
}

.skills-one {
	width: 140px;
	height: 139px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
}

.skills-two {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	width: 140px;
}

.section-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px 28px;
	gap: 75px;
}

.main-text {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title-about {
	font-size: 1.25rem;
	text-wrap: wrap;
	color: var(--color-primary);
	font-weight: 300;
	padding-right: 10px;
	line-height: 1.2;
}

.about-text {
	font-size: 13px;
	color: var(--color-white);
	font-weight: 300;
	line-height: 24px;
}

.about-text span {
	color: var(--color-primary);
}

.about-text a {
	color: var(--color-elementary);
}

.produtos {
	display: flex;
	flex-direction: column;
	gap: 60px;
	text-align: center;
	color: var(--color-white);
	line-height: 1.3;
	font-weight: 300;
}

.produtos p {
	padding-top: 9px;
}

.section-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 64px;
	padding: 18px 30px;
}

.title-form {
	color: var(--color-white);
	font-size: 2.25rem;
	font-weight: 300;
}

.title-form strong {
	font-weight: 700;
}

.title-form::after {
	content: "";
	display: block;
	background: linear-gradient(to right,
			var(--color-primary) 65%,
			var(--color-elementary) 35%);
	width: 100%;
	height: 2px;
	margin: 24px 0px;
}

.form-text {
	display: flex;
	flex-direction: column;
	gap: 27px;
}

.form-text-p {
	color: var(--color-white);
	font-weight: 300;
	line-height: 1.3;
}

.line {
	height: 1px;
	width: 50%;
	background-color: #282c33;
	margin: 0 auto;
}

.form-question {
	color: var(--color-primary);
	font-weight: 400;
	text-align: center;
	line-height: 1.3;
}

.btn-container {
	align-self: center;
}

.form-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	border: 2px solid var(--color-white);
	background-color: var(--background);
	border-radius: 4px;
	color: var(--color-white);
	padding: 16px 26px;
	font-size: 17px;
	font-weight: 400;
	text-wrap: nowrap;
}

.form {
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 275px;
}

.input-form {
	padding: 20px;
	font-weight: 400;
	background-color: #282c33;
	border-radius: 5px;
	border: none;
	outline: 1px solid transparent;
	caret-color: var(--color-white);
	transition: 0.3s;
}

.input-form::placeholder {
	font-family: "Lato", sans-serif;
	font-size: 17px;
}

.input-form:focus {
	outline: 1px solid #5a5a5a;
	transition: 0.3s;
}

.container-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.body-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-container {
	gap: 24px;
	display: flex;
	flex-direction: column;
}

.input-p {
	color: var(--color-secondary-contrast);
}

.talk-btn {
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-primary-contrast);
	margin-top: 30px;
	padding: 18px 16px;
	background-color: var(--color-primary);
	border-radius: 5px;
	border: none;
}

.footer {
	padding: 5px 30px;
	margin-top: 20px;
}

.footer-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 5px;
	font-size: 12px;
	margin-bottom: 5px;
	font-weight: 400;
}

.footer-list :nth-child(n + 2)::before {
	content: "| ";
	font-size: 14px;
	color: var(--color-white);
}

.footer-list li a {
	color: var(--color-white);
	font-size: 11px;
	text-decoration: none;
}

.copy {
	font-size: 12px;
	color: var(--color-white);
}

@media (min-width: 375px) {
	.form {
		width: 300px;
	}

	.talk-btn {
		width: 80%;
		align-self: center;
	}

}

@media (min-width: 425px) {
	.form {
		width: 375px;
	}

	.section-initial {
		padding: 75px 60px;
	}

	.talk-btn {
		width: 250px;
	}

	.footer {
		margin-top: 64px;
	}
}

@media (min-width: 768px) {
	.form {
		width: 675px;
	}

	.logo {
		margin: 18px 0 0 110px;
		height: 53px;
		width: 86px;
	}

	.section-initial {
		padding: 86px 130px;
	}

	.title {
		font-size: 54px;
	}

	.title-p {
		font-size: 24px;
	}

	.skills {
		font-size: 16px;
		font-weight: 300;
		gap: 16px;
	}

	.skills-one {
		width: 180px;
		height: 136px;
	}

	.skills-two {
		width: 180px;
		height: 288px;
	}

	.text-skills-one {
		padding: 6px 22px;
	}

	.text-skills-two {
		padding: 26px;
		line-height: 1.3;
	}

	.section-about {
		padding: 64px 150px;
		gap: 75px;
		font-size: 14px;
	}

	.form-text {
		padding: 0 130px;
	}

	.title-form::after {
		width: 95%;
		margin: 60px 0 40px 0;
	}

	.container-form {
		width: 70%;
		align-self: center;
	}

	.talk-btn {
		width: 35%;
		margin-bottom: 32px;
	}

	.footer {
		padding: 5px 130px 36px 130px;
		font-size: 12px;
	}

	.skills-block:nth-child(1):hover::after {
		top: 30%;
		padding: 8px 22px;
	}

	.skills-block:nth-child(2):hover::after {
		top: 30%;
		padding: 8px 22px;
	}

	.skills-two.skills-block:hover::after {
		top: 26%;
		padding: 0 26px;
	}
}

@media (max-width: 1439px) {
	header {
		height: 20%;
	}

	.menu-hamburguer-elements a:hover {
		color: rgb(214, 161, 214);
	}

	.menu-hamburger {
		display: flex;
		width: auto;
		flex-direction: column;
		align-self: flex-start;
		overflow: auto;
		z-index: 1;
		color: white;
	}

	.menu-hamburguer-elements {
		width: 60%;
		height: 100%;
		background-color: rgba(10, 10, 10, 0.9);
		position: fixed;
		left: -60%;
		top: 0;
		transition: left cubic-bezier(1, 0, 0, 1) 0.8s;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding-top: 15vh;
		z-index: -1;
	}

	.menu {
		display: flex;
		height: 60px;
		width: 60px;
	}
}

@media (min-width: 1024px) {
	.form {
		width: 950px;
	}

	.section-about {
		padding: 64px 135px;
	}

	.about-text {
		font-size: 15px;
	}

	.produtos p {
		font-size: 16px;
	}

	.form-text {
		padding: 18px 275px;
	}

	.title-form::after {
		width: calc(100% + 40px);
	}

	.container-form {
		width: 80%;
	}

	.talk-btn {
		width: 25%;
	}

	.footer-list li a {
		font-size: 12px;
		font-weight: 500;
	}

	.copy {
		font-size: 12px;
		font-weight: 500;
	}
}

@media (min-width: 1440px) {
	.menu-hamburger {
		margin-top: 20px;
		width: 80%;
	}

	.menu-hamburguer-elements li a {
		font-size: 17px;
	}

	.selected {
		text-decoration: underline !important;
		text-decoration-color: var(--color-primary) !important;
	}

	.link-green {
		color: var(--color-primary) !important;
	}

	.link-login {
		border: 1px solid var(--color-primary);
		padding: 16px 32px;
		border-radius: 5px;
	}

	.main {
		display: flex;
		align-items: center;
	}

	.section-initial {
		padding: 86px 130px;
	}

	.container-links {
		flex-direction: row;
		padding: 0;
	}

	.container-skills-one {
		gap: 22px;
	}

	.skills {
		padding: 50px 100px 0 0;
		gap: 22px;
	}

	.skills-one {
		width: 280px;
		height: 211px;
	}

	.skills-two {
		width: 280px;
		height: 444px;
	}

	.text-skills-one {
		font-size: 24px;
		padding: 27px 22px;
	}

	.text-skills-two {
		font-size: 24px;
	}

	.skills-block:nth-child(1):hover::after {
		top: 30%;
		padding: 8px 22px;
	}

	.skills-block:nth-child(2):hover::after {
		top: 30%;
		padding: 8px 22px;
	}

	.skills-two.skills-block:hover::after {
		top: 22%;
		padding: 0 26px;
		font-size: 16px;
	}

	.section-about {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-text {
		width: 50%;
		padding-right: 50px;
	}

	.title-about {
		font-size: 32px;
	}

	.about-text {
		font-size: 16px;
	}

	.produtos {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 75px;
		padding-right: 43px;
	}

	.body-form {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.section-form {
		padding: 0;
		width: 50%;
	}

	.title-form {
		font-size: 42px;
	}

	.form-text {
		padding: 0;
		width: 100%;
	}

	.title-form::after {
		width: 65%;
		margin: 60px 0 40px 0;
	}

	.form-text-p {
		width: 55%;
		padding-bottom: 15px;
	}

	.line {
		margin: 0;
		width: 35%;
		display: inline-block;
	}

	.form-question {
		padding-top: 15px;
		align-self: flex-start;
	}

	.btn-container {
		align-self: flex-start;
		width: 100%;
	}

	.form-btn {
		width: 70%;
	}

	.form {
		width: 120%;
	}

	.input-container {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.talk-btn {
		text-wrap: nowrap;
		width: 60%;
	}

	.footer {
		padding: 50px 130px 36px 130px;
	}
}

@media (min-width: 2000px) {
	.main {
		display: flex;
		align-items: center;
		gap: 225px;
		justify-content: space-between;
		padding: 0px 477px;
	}

	.section-about {
		flex-direction: row;
		justify-content: initial;
		gap: 200px;
		padding: 0 600px;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}